@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset and you have been logged in.  @Html.ActionLink("click here to manage your endpoints", "Index", "Home")
    </p>
</div>
